.inline {
    flex-direction: row;
}

#Label {
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

.inline #Label {
    width: 100px;
    margin-top: 10px;
}

#Input {
    flex-grow: 1;
}

#Input .unity-text-field__input {
    padding: 1px 4px 1px 4px;
}