:root {
    --color-background: rgba(255, 255, 255, 1);
    --color-foreground: rgba(36, 36, 36, 1);
    --color-border: rgba(229, 183, 185, 1);
    --color-ring: rgba(180, 180, 180, 1);
    --color-input: rgba(235, 235, 235, 1);
    --color-primary: rgba(231, 0, 10, 1);
    --color-primary-foreground: rgba(251, 251, 251, 1);
    --color-secondary: rgba(247, 247, 247, 1);
    --color-secondary-foreground: rgba(52, 52, 52, 1);
    --color-accent: rgba(247, 247, 247, 1);
    --color-accent-foreground: rgba(52, 52, 52, 1);
    --color-muted: rgba(247, 247, 247, 1);
    --color-muted-foreground: rgba(141, 141, 141, 1);
    --color-card: rgba(255, 255, 255, 1);
    --color-card-foreground: rgba(36, 36, 36, 1);
    --color-popover: rgba(255, 255, 255, 1);
    --color-popover-foreground: rgba(36, 36, 36, 1);
    --color-destructive: rgba(202, 75, 65, 1);
    --color-destructive-foreground: rgba(251, 251, 251, 1);
    --border-radius: 10px;
    --border-radius-md: 10px;
    --border-radius-lg: 12px;
    --border-radius-sm: 8px;
    --border-width: 2px;
}
